#content {
	a:link {color: #3B5998;}
	a:visited {color: #25385F;}
	a:hover {color: #F7822B;}

	ul > li {
		list-style-image: url("../images/li.png");
	}

	.box.graybox {
		background: #ECF2FF url("../images/bluebox.png") repeat-x;
		border-radius: 5px;
	}

	.box {
		fieldset {
			border: none;
			padding: 0;
		}
	}
}