body {
	background: #EEE url("../images/stripes-gray.png");
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #444;
}

#header {
	padding: 10px;
	position: relative;
	background: url("../images/header.png");
	height: 100px;

	#logo {
		position: absolute;
		background: url("../images/logo.gif");
		width: 260px;
		height: 34px;
		left: 28px;
		top: 43px;
		span {display: none;}
	}

	#slogan {
	    position: absolute;
	 	top: 80px;
		left: 143px;
		color: black;
	}
}

.container {
    width: 970px;
	-webkit-box-shadow: 0 0 15px #BBB;
	margin-bottom: 60px;
}

#content {
	padding: 10px;
	background: white;
}

#sidebar {
    .box {
        h3 {
        	color: #222;
        	font-size: 150%;
        }

		background: #FEE9A7 url("../images/box.png") repeat-x;
		padding: 18px;
		border-radius: 5px;
		border: 1px solid #FEE9A7;
	}

	fieldset {
		border: none; padding: 0;
	}

	input.text {
		width: 182px;
	}

	label {
		font-weight: normal;
	}
}

#footer {
    text-align: center;
    border-top: 2px solid #F88127;
    padding: 0 10px;
    background: #FEE9A7 url("../images/box.png") repeat-x;

    p {
		margin: 1em;
		a {
		    color: #555;
			:hover {
				text-decoration: none;
			}
	    }
	}
}
