#sidebar {
	.partners {
	    p {text-align: center;}
	}

	.hTagCloud {
		text-align: center;

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li {
			display: inline;
			font-size: 90%;
			margin: 0;
			padding: 0;
		}

		.v-popular {font-size: 120%;}
		.vv-popular {font-size: 140%;}
		.vvv-popular {font-size: 160%;}
		.vvvv-popular {font-size: 180%;}
	}
}