#text {
	font-size: 110%;
	.box {
		background: none;
	}

	.detail {
		font-size: 90%; color: #888;
	}

	ul.news {
		margin-left: 0; padding-left: 0;
	}

	ul.news li {
		list-style-image: none;
		list-style-type: none;
	}

	h1, h2, h3, h4 {
		color: #F7822B
	}

	h1 {font-size:180%}
	h2 {font-size:160%}
	h3 {font-size:140%}
	h4 {font-size:120%}

	// components

	.newest-articles {
		ul {margin:0; padding: 0;}
		li {list-style-type: none; list-style-image: none; margin:0; padding: 0;}
	}

	.box.comments {
		textarea {
			height: 100px;
			width: 630px;
		}

		legend {
			padding-bottom: 1em;
		}

		div.comment-texyla {
			padding: 5px 1em 1em;
			background: #DEE9FF;
			border-radius: 5px;
			margin: 1em 0;
		}

		.comment {
			padding: 1em;
			background: #FBFDFF;
			border-radius: 5px;

			p.detail {
				text-align: right;
				margin: 0;

				img {vertical-align: middle;}
			}
		}

		.comment + .comment {
			margin-top: 1em;
		}
	}
}